.env
*.pdf
pdfs/
md_files/
chroma_db/
.DS_Store
*~
.idea/
.vscode/
.venv
ENV/
env/
venv/
.installed.cfg
wheels/
var/
sdist/
parts/
lib64/
lib/
downloads/
dist/
build/
.Python
*$py.class
*.py[cod]
__pycache__/